<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'master.css'%}">
        
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Trainerize Cheat Sheet</title>

    </head>
    <nav id = "nav">
        <div class ="innerHeader">
            <ul class="headerLinks">
                <a href="http://127.0.0.1:8000/app/loginPage/"><li>Home</li></a>
                <a><li>About</li></a>
            </ul> 
        </div>

    </nav>
    <body > 
        <div  class="aboutPageContainer">
            <h3 class="reportHeader"> Loading Page</h3> 
            
        <div id="preLoader">  </div>
        </div>
    </body>
    <script>    
        var loader = document.getElementById("preLoader");
    
        window.addEventListener("load", function(){
            loader.style.display = "none"
        })
    
        </script>
</html>
