
<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'master.css'%}">
        
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Trainerize Cheat Sheet</title>

    </head>
    <body > 
        <div class=" login-box">
            
        <img src="{% static 'mySite/images/logo.png' %}" class="logo">

                    <h1>
                        Trainerize Cheat Sheet
                    </h1>
                    <form action="" method="post">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Trainerize Email</label>
                            <input
                                type="email"
                                class="form-control"
                                id="exampleInputEmail1"
                                aria-describedby="emailHelp"
                                placeholder="Enter email"
                            />
                           
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Trainerize Password</label>
                            <input
                                type="password"
                                class="form-control"
                                id="exampleInputPassword1"
                                placeholder="Password"
                            />
                        </div>
                        <button type="submit" class="btn btn-primary">
                            Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>

    </body>
</html>
